/**
 * User widget in top bar
 */

.userWidget-wrapper {
    position: relative;
}

.userWidget {

    .userDropdown {
        @include ag;
        @include ag--actions-fill;
        @include ag--actions-center;
    }

    .avatar {
        vertical-align: middle;
    }

    @include media-query(lap-and-up) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: $z-layer-2;
    }
}

