/**
 * Main Navigation
 *
 * Contains navigation for modules (list views) and
 * a navigation for the current module's views.
 *
 */

.mainNav {
    position: relative;
    text-align: center;

    .ag__default {
        display: inline-block;
    }

    /**
     * jump-to-modules-nav: display as a dropdown with links
     */
    .modulesNav {
        @include ag;
        // @include ag--actions-fill;
        // @include ag--actions-center;
        display: inline-block;
    }

    .viewsNavWrapper {
        position: relative;
        display: inline-block;
    }

    .viewsNav {
        @include ag;
        // @include ag--actions-fill;
        // @include ag--actions-center;
        display: inline-block;
    }

    @include media-query(lap) {
        .ag__default {
            display: block;
        }
    }

    @include media-query(lap-and-up) {
        @include ag--inline;
        //@include ag--more-fit;

        .ag__default {
            display: block;
        }
    }
}

