
/**
 * GRID and GRID-ITEMS
 */
[class$="-container"] {
    @extend %grid;
}

[class$="-box"] {
    @extend %grid__item;
}

/**
 * HEADER mit Logo, GlobalSearch und UserWidget
 */
.pageHeader-container > .applicationLogo-box {
    @extend %one-whole;
    @extend %desk--one-quarter;
}


.pageHeader-container > .globalSearch-box {
    @extend %desk--one-half;
    @extend %lap--one-half;
}

.pageHeader-container > .userWidget-box {
    @extend %desk--one-quarter;
    @extend %lap--one-half;
}

/**
 * HEADER mit Haupt- und Seitennavigation und Notifikationen
 */
.pageInfo-container > .mainNav-box {
    @extend %desk--two-eighths;
    @extend %lap--two-eighths;
}
.pageInfo-container > .tocTitle-box {
    @extend %desk--five-eighths;
    @extend %lap--five-eighths;
}
.pageInfo-container > .notifications-box {
    @extend %desk--one-eighth;
    @extend %lap--one-eighth;
}






/**
 * MAIN mit Content und Sidebars und Actions
 */
.pageMain-container > .mainContent-box {
    @extend %one-whole;
}

.pageMain-container {
    position: relative;
    overflow: hidden;
}

.pageMain-container > .sidebars-box {
    position: absolute;
    width: 100%;
    padding: 0;
    padding-left: $base-spacing-unit;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    @include vendor(transform, translateX(100%));
    transform: translateX(100%);
}


/**
 * SIDEBARS
 */
.sidebars-container > .sidebarsNav-box {
    @extend %one-quarter;
}

.sidebars-container > .sidebarsContent-box {
    @extend %three-quarters;
}

.sidebars-box {
    background-color: green;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

.sidebarsNav-box {
    position: absolute;
    top: 1em;
    left: -3em;
    padding: 0;
    margin: 0;
}

.sidebarsNav {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        label {
            display: block;
            width: 2em;
            height: 2em;
            margin-top: 1em;
            border-radius: 50%;
            text-indent: -9999px;
            background-color: dodgerblue;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
            transition: all 200ms linear;
        }
    }
}

[class$="-checkboxTrigger"] {
    display: none;
}

.sidebarOne,
.sidebarTwo,
.sidebarThree {
    display: none;
    width: 30%;
    float: left;
    color: white;
    padding: 1em;

}

#sidebarOne:checked ~ .pageMain-container .sidebars-box {
    .sidebarOne {
        display: block;
    }

    label[for=sidebarOne] {
        background-color: orangered;
        border-radius: 2px;
        @include vendor(transform, rotate(45deg));
    }
}

#sidebarTwo:checked ~ .pageMain-container .sidebars-box {
    .sidebarTwo {
        display: block;
    }

    label[for=sidebarTwo] {
        background-color: orangered;
        border-radius: 2px;
        transform: rotate(45deg);
        @include vendor(transform, rotate(45deg));
    }
}

#sidebarThree:checked ~ .pageMain-container .sidebars-box {
    .sidebarThree {
        display: block;
    }

    label[for=sidebarThree] {
        background-color: orangered;
        border-radius: 2px;
        @include vendor(transform, rotate(45deg));
        transform: rotate(45deg);
    }
}




.sidebars-checkboxTrigger:checked ~ .pageMain-container .sidebars-box {
    @include vendor(transform, translateX(70%));
    transform: translateX(70%);
}

.sidebars-checkboxTrigger:checked ~ .sidebars-checkboxTrigger:checked ~ .pageMain-container .sidebars-box {
    @include vendor(transform, translateX(45%));
    transform: translateX(45%);
}


.sidebars-checkboxTrigger:checked ~ .sidebars-checkboxTrigger:checked ~ .sidebars-checkboxTrigger:checked ~ .pageMain-container .sidebars-box {
    @include vendor(transform, translateX(20%));
    transform: translateX(20%);
}

/* DEBUG */
.mainWrapper {
    min-height: 600px;
}

