/**
 * Table of Content
 *
 * Contains Headline of the current document and
 * a navigation for the main sections of it.
 *
 */

/*
.toc-wrapper {
    position: relative;
}
*/

.tocTitle {
    position: relative;
    text-align: center;

    .ag__default {
        display: inline-block;
    }

    h1 {
        margin-bottom: 0;
    }

    /**
     * jump-to-sections-nav: display as a dropdown with links
     */
    .tocNav {
        @include ag;
        @include ag--actions-fill;
        @include ag--actions-center;
        display: inline-block;
    }

    /**
     * jump-to-sections-nav: change dropdown to horizontal tabs
     */
    &.tocTitle--tabs {
        .ag__default {
            display: block;
        }

        .ag__toggle {
            display: none;
        }

        .ag__more {
            display: block;
            li {
                display: inline-block;
            }
        }
    }

    @include media-query(lap) {
        .ag__default {
            display: block;
        }
    }

    @include media-query(lap-and-up) {
        @include ag--inline;
        @include ag--more-fit;

        &.tocTitle--tabs {
            @include ag--full;
        }

        .ag__default {
            display: block;
        }
    }

    @include media-query(desk) {
        h1::after {
            margin-left: 0.5rem;
            content: "\00BB" "\00A0";
        }

        &.tocTitle--tabs {
            h1::after {
                margin-left: 0;
                content: "";
            }
        }
    }
}


/*@include respond-to-all(((32em, 'max-width'), '.pageInfo'), ((64em, 'max-width'), '.pageInfo', '.menu')) {*/
/*@include respond-to-screen((32em, 'body')) {
*/
/*
[data-min-width="500"] {
    .pageInfo {
        .tocNav {
            @include ag--inline;
            background-color: yellow;
        }
    }
}
*/
/*@include respond-to-screen-only((($lap-end, 'min-width'), '.pageInfo')) {}*/
