/*

    This is only a test of a "responsive" table list view.

*/

@import "_layout";

.list {

    .action {
        @extend .btn;
        @extend .btn--small;
    }

    .entry_actions {
        .ag__toggle {
            width: 3rem;
        }
    }


    table {
        font-size: 0.8rem;
    }

    th {
        background-color: $grey-lighter;
    }
    thead th {
        border-bottom: 1px solid #000;
    }

    tbody tr  {
        &:nth-child(2n+1) {
            background-color: $grey-lighter;
        }

        @include media-query(desk) {
            &:hover td {
                background-color: $row-hover;
            }
        }

        @include media-query(portable) {
            &:nth-child(2n+1) {
                td {
                    border-bottom: 1px dashed #fff;
                }
            }
            &:nth-child(2n) {
                td {
                    border-bottom: 1px dashed $grey-lighter;
                }
            }
        }
    }

}


