/**
 * GlobalSearch
 *
 */

.globalSearch {
    text-align: center;

    label {
        display: inline-block;
    }

    @include media-query(portable) {
        input[type=search],
        button[type=submit] {
            width: 100%;
        }
    }
}

/*

 if the widget is in a special context one could customize the ui like this:

.pageHeader .globalSearch {
    @include media-query(portable) {
        input[type=search],
        button[type=submit] {
            width: 50%;
        }
    }
}

*/







/*
@include respond-to-screen-only((($lap-end, 'max-width'), '.pageHeader')) {
    .globalSearch {
        input[type=search],
        button[type=submit] {
            width: 50%;
        }
    }
}
*/
