@each $name in bomb1, bomb2, bomb3 {
    @include keyframe($name){
       0% {
            z-index: 9001; /* IT'S OVER 9000!!!!! */
            opacity: 1;
       }
       90% {
            opacity: 1;
       }
       100% {
            opacity: 0;
       }
    }
}

@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil);

body::after {
    content: "BAM!";

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-family: 'Allerta Stencil', sans-serif;
    font-size: 150px;
    font-weight: 400;
    text-align: center;
    line-height: 340px;
    color: red;
    text-shadow: 0 0 20px orange;

    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    pointer-events: none;

    z-index: -1;
    opacity: 0;

    $duration: 2300ms;
    $gif: "http://media2.giphy.com/media/k22GuD71QfOSY/giphy.gif";

    @include media-query(palm) {
        background-image: url($gif + "?1");
        @include vendor(animation, bomb1 $duration);
    }

    @include media-query(lap) {
        background-image: url($gif + "?2");
        @include vendor(animation, bomb2 $duration);
    }

    @include media-query(desk) {
        background-image: url($gif + "?3");
        @include vendor(animation, bomb3 $duration);
    }
}

