/**
 * Notifications in the page info area.
 */
.notifications {
    display: block;
    font-size: 0.5rem;

    aside {
        @extend .stat-group;
        margin: 0;
        padding: 0;
    }

    dl {
        @extend .stat;
        margin: 0;
        text-align: center;

        > dt {
            @extend .stat__title;
        }

        > dd {
            @extend .stat__value;
        }
    }

    &.notifications--twoCols {
        dl {
            width: 50%;
        }
    }

    &.notifications--threeCols {
        dl {
            width: 33.333%;
        }
    }

    &.notifications--fourCols {
        dl {
            width: 25%;
        }
    }

    &.notifications--fiveCols {
        dl {
            width: 20%;
        }
    }

    @include media-query(lap) {
        dl {
            display: block;
        }

        &.notifications--twoCols {
            dl {
                width: 100%;
            }
        }

        &.notifications--threeCols {
            dl {
                width: 100%;
            }
        }

        &.notifications--fourCols {
            dl {
                width: 100%;
            }
        }

        &.notifications--fiveCols {
            dl {
                width: 100%;
            }
        }

    }
}


/** STYLING */
.notifications {
    background-color: gold;
}


